:root {
  --background: rgba(87, 255, 65, 1);
}

*, *::before, *after {
  box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*
  max-width: 100%;
  overflow-x: hidden;
  */
}

/*
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: black;
}
*/

main {
  width: 100vw;
  color: White;
  z-index:99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
} 

h1, h2, h3, blockquote {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left:0;
}

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }


  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

/* ================ */
  /* nav styling */
/* ================ */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  display: none; 
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media only screen and (min-width: 864px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 6fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: relative;
    bottom: -1.65em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transform-origin: right;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }

}

/* ================== */
  /* footer styling */
/* ================== */

footer {
  all: unset;
  grid-column: 2 / span 11;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

/* font awesome button icon styling */
@media only screen and (max-width: 960) {
  .copy {
    font-size: 0.7rem;
    text-decoration: none;
    padding: 0.5em;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 0;
    height: 5em;
  }
}

.copy {
  font-size: 0.7rem;
  text-decoration: none;
  padding: 0.5em;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 40%;
  height: 5em;
}

.fa {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5em;
  margin-top: 0;
}

.fa:hover {
    opacity: 0.7;
}

.fa-home{
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-github {
  color: white;
}

/* ========================== */
  /* portfolio grid styling */
/* ========================== */

.main-content {
  padding: 0% 10%;
  flex: 1 1 80%;
  min-height: 100vh;
  grid-column: 1 / span 12;
}

@media only screen and (max-width: 960px) {
  .main-content {
    min-height: 75vh;
  }
}

@media only screen and (max-width: 600px) {
  .main-content {
    min-height: 50vh;
  }
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: var(--background);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.portfolio-item.small {
  grid-row: span 1;
  grid-column: span 1;
}

.portfolio-item.medium {
  grid-row: span 2;
  grid-column: span 2;
}

.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}

.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}

.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 3;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* portfolio item styles */

/* ========================== */
  /* portfolio item #1 */
/* ========================== */

.one {
  background-image: url(img/Berserk.png);
  color: white;
  background-size: cover;
  position: relative;

  transition: all ease-in-out 300ms;
  z-index: 10;
}


.one:hover::before {
  opacity: 0.2;
}

.one::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

/* ========================== */
  /* portfolio item #2 */
/* ========================== */

.two {
  background-image: url(img/Berserk.png);
  color: white;
  background-size: cover;
  position: relative;

  transition: all ease-in-out 300ms;
  z-index: 10;
}


.two:hover::before {
  opacity: 0.2;
}

.two::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

/* ========================== */
  /* portfolio item #3 */
/* ========================== */

.three {
  background-image: url(img/Berserk.png);
  color: white;
  background-size: cover;
  position: relative;

  transition: all ease-in-out 300ms;
  z-index: 10;
}


.three:hover::before {
  opacity: 0.2;
}

.three::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

/* ========================== */
  /* portfolio item #4 */
/* ========================== */

.four {
  background-image: url(img/Berserk.png);
  color: white;
  background-size: cover;
  position: relative;

  transition: all ease-in-out 300ms;
  z-index: 10;
}


.four:hover::before {
  opacity: 0.2;
}

.four::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

/* ========================== */
  /* portfolio item #5 */
/* ========================== */

.five {
  background-image: url(img/Berserk.png);
  color: white;
  background-size: cover;
  position: relative;

  transition: all ease-in-out 300ms;
  z-index: 10;
}


.five:hover::before {
  opacity: 0.2;
}

.five::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

/* ========================== */
  /* portfolio item #6 */
/* ========================== */

.six {
  background-image: url(img/Berserk.png);
  color: white;
  background-size: cover;
  position: relative;

  transition: all ease-in-out 300ms;
  z-index: 10;
}


.six:hover::before {
  opacity: 0.2;
}

.six::before {
  content: '';
  display: block;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */